mixin range-slider(props)
  .range-slider&attributes(attributes)
    if props.text
      #{props.tagText || 'h3'}.h3-sb.range-slider__text!= props.text

    .t2.range-slider__slider

    if props.inputs
      .range-slider__inputs
        if props.inputs.start
          +input({}).range-slider__input.range-slider__input_start
        if props.inputs.end
          +input({}).range-slider__input.range-slider__input_end
