.header {
  $root: &;

  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-top: 21px;

  &__search-input {
    input {
      letter-spacing: 0.01em;
    }
  }

  &__checkboxes {
    & > *:not(:first-child) {
      margin-left: 4px;
    }
  }
}
