@use '../../../core/config/scss/' as config;

.range-bar {
  $root: &;

  &__content-wrapper {
    margin-top: 5px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(to right, yellow, config.$colors-green-300);
  }

  &__content-item {
    position: relative;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &:nth-child(5n) {
      #{$root}__empty-space_top {
        height: 0;
      }

      #{$root}__label {
        height: 26px;
      }
    }

    &:last-child {
      #{$root}__empty-space {
        display: none;
      }
    }
  }

  &__scale {
    display: flex;
    justify-content: space-between;
    color: config.$colors-gray-100;
  }

  &__label {
    position: relative;
    display: block;
    height: 20px;
    width: 3px;
    cursor: inherit;
  }

  &__input {
    @extend %input-hidden;
  }

  &__empty-space {
    display: block;
    background-color: config.$colors-black-100;
    width: 8px;
    height: 26px;

    &_top {
      position: absolute;
      top: -7px;
      left: -1px;
      height: 13px;
      width: 5px;
    }
  }

  &__off-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 3px;
    height: 100%;
    transition: background-color config.$animations-duration-basic
      config.$animations-timing-basic;

    &_hidden {
      background-color: config.$colors-gray-400;
    }
  }
}
