extends ../core/ui/layout/templates/default.pug
include ../app/index.pug

block title
  | Marketplace

block body
  +header(dataJson.index.header).ctr-l
  main.ctr-l.mt-m
    +products(dataJson.index.main.products)