//- SECTIONS

//- COMMON
include ../components/common/header/header.pug
include ../components/common/svg/svg.pug

//- BLOCKS

//- UI
include ../components/ui/badge/badge.pug
include ../components/ui/checkbox/checkbox.pug
include ../components/ui/checkbox-with-icon/checkbox-with-icon.pug
include ../components/ui/search-input/search-input.pug