@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@use '../core/ui/layout';

@use '../components/common/header/header';
@use '../components/common/logo/logo';

@use '../components/blocks/filters-accordion/filters-accordion';

@use '../components/ui/badge/badge';
@use '../components/ui/checkbox/checkbox';
@use '../components/ui/checkbox-with-icon/checkbox-with-icon';
@use '../components/ui/radio-with-icon/radio-with-icon';
@use '../components/ui/range-slider/range-slider.scss';
@use '../components/ui/input/input';
@use '../components/ui/sort-list/sort-list';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }
}

html {
  color: config.$colors-white;
  background-color: config.$colors-black-100;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

// ТИПОГРАФИКА
// Заголовки
.h2-b {
  font-family: config.$font-primary;
  font-weight: 700;
  font-size: config.functions-rem(30px);
  line-height: config.functions-lh(30, 30);
}

.h3 {
  font-family: config.$font-primary;
  font-weight: 400;
  font-size: config.functions-rem(18px);
  line-height: config.functions-lh(18, 24.3);
}

.h3-sb-l {
  font-family: config.$font-primary;
  font-weight: 600;
  font-size: config.functions-rem(18px);
  line-height: config.functions-lh(18, 24.3);
}

.h3-sb {
  font-family: config.$font-primary;
  font-weight: 600;
  font-size: config.functions-rem(16px);
  line-height: config.functions-lh(16, 21.6);
}

// // Обычный текст
.t1-b {
  font-family: config.$font-primary;
  font-weight: 700;
  font-size: config.functions-rem(18px);
  line-height: config.functions-lh(18, 24.3);
}

.t2-lhl {
  font-family: config.$font-primary;
  font-weight: 400;
  font-size: config.functions-rem(16px);
  line-height: config.functions-lh(16, 23.52);
}

.t2 {
  font-family: config.$font-primary;
  font-weight: 400;
  font-size: config.functions-rem(16px);
  line-height: config.functions-lh(16, 21.6);
}

.t3 {
  font-family: config.$font-primary;
  font-weight: 400;
  font-size: config.functions-rem(12px);
  line-height: config.functions-lh(12, 16.2);
}

// Страница с блоками
.blocks-heading {
  margin: 40px 0;
  padding: 0.3em;
  color: white;
  text-align: center;
}

// TODO: нужен фокус от дизайнера
input {
  &:focus {
    outline: none;
  }
}
