//- SECTIONS
include ../components/sections/products/products

//- COMMON
include ../components/common/header/header
include ../components/common/logo/logo
include ../components/common/svg/svg

//- BLOCKS
include ../components/blocks/filters-accordion/filters-accordion

//- UI
include ../components/ui/badge/badge
include ../components/ui/checkbox/checkbox
include ../components/ui/checkbox-with-icon/checkbox-with-icon
include ../components/ui/input/input
include ../components/ui/radio-with-icon/radio-with-icon
include ../components/ui/range-bar/range-bar
include ../components/ui/range-slider/range-slider
include ../components/ui/sort-list/sort-list