mixin products(props)
  section&attributes(attributes).products
    if props.rangeSliders || props.sortList
      .products__ranges
        if props.rangeSliders
          .products__range-sliders
            each rangeSlider in props.rangeSliders
              if rangeSlider.type == 'rangeBar'
                +range-bar(rangeSlider).products__range-bar
              else
                +range-slider(rangeSlider)
        if props.sortList
          +sort-list(props.sortList).products__sort-list

    .products__results
      if props.results
        h3.h3-sb.products__results-heading!= props.results
        .products__badges-container

    if props.accordion
      +filters-accordion(props.accordion).products__filters-accordion

    template.products__template-badge
      +badge({ ariaLabel: 'Remove filter' })