@use '../../../core/config/scss/' as config;

.input {
  $root: &;

  width: 469px;

  &__label {
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
    width: 100%;
    padding: 13px 21px;
    border: 1px solid config.$colors-gray-100;
    border-radius: 12px;
    cursor: text;
  }

  &__input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: config.$colors-white;
    caret-color: config.$colors-white;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
