mixin sort-list(props)
  .sort-list&attributes(attributes)
    button(
      type= 'button'
      aria-label= props.ariaLabel
    ).sort-list__btn
      span.sort-list__bg-border
        span.sort-list__bg
      +svg('filters').sort-list__icon

    if props.list
      .sort-list__list-wrapper
        if props.list.heading
          #{props.list.headingTag || 'h3'}.h3!= props.list.heading
        ul.sort-list__list
          each item in props.list.items
            li.sort-list__list-item
              +radio-with-icon(item)
