$black: #000;
$white: #fff;

$black-100: #171722;

$gray-100: #959595;
$gray-300: #606060;
$gray-400: #353542;
$gray-500: #30303d;
$gray-700: #212129;

$green-400: #84d52c;
$green-500: #58aa46;
$green-600: #6bab2b;
$green-700: #7acb22;
$green-800: #85d62d;
$green-900: #297019;
