%input-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  appearance: none;
}

%text-one-line-limit {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
