@use '../../../core/config/scss/' as config;

.radio-with-icon {
  $root: &;

  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;

  &__input {
    @extend %input-hidden;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
